.mui-bar {
	background-color: #43484e;
}

.mui-bar .mui-title {
	color: #fff;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
	color: #fff;
}

#add_app {
	margin-top: 80px;
}

.mui-switch-blue.mui-active {
	border: 2px solid #0487D0;
	background-color: #0487D0;
}

.top-title {
	height: 36px;
	font-size: 14px;
	color: #999999;
	width: 100%;
	background: #f5f5f5;
	position: fixed;
	top: 50px;
	z-index: 99;
}

.top-title span {
	display: inline-block;
	text-align: center;
	line-height: 36px;
}

.top-title span:nth-of-type(1) {
	width: 54%;
}

.top-title span:nth-of-type(2) {
	width: 21%;
}

.three-one {
	width: 22px;
	height: 12px;
	position: absolute;
	right: 114px;
	top: 38px;
}

img {
	cursor: pointer;
	touch-action: none;
}