body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的任务_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的任务_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的任务_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:24px;
    top:72px;
    width:63px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../我的任务_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:115px;
    width:110px;
    height:4px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:10px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-6px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:159px;
    top:72px;
    width:104px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:302px;
    top:72px;
    width:115px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:437px;
    top:72px;
    width:122px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:583px;
    top:72px;
    width:122px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的任务_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:130px;
    width:720px;
    height:270px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:276px;
}

.u14 {
    position:absolute;
    left:2px;
    top:127px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:566px;
    top:342px;
    width:139px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../我的任务_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:130px;
    width:720px;
    height:60px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u18 {
    position:absolute;
    left:2px;
    top:22px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:382px;
    top:257px;
    width:283px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:561px;
    top:144px;
    width:147px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../我的任务_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:720px;
    height:3px;
}

.u21 {
    position:absolute;
    left:0px;
    top:330px;
    width:720px;
    height:10px;
    
}

.u22_normal {
    background-image: url('../我的任务_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:13px;
    top:202px;
    width:120px;
    height:120px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u23 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:143px;
    width:192px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:151px;
    top:243px;
    width:528px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:151px;
    top:286px;
    width:530px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:90px;
    top:970px;
    width:540px;
    height:66px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../我的任务_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:20px;
    top:16px;
    width:18px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:248px;
    top:202px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:417px;
    top:342px;
    width:139px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:148px;
    top:202px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u34_container {
    position:absolute;
    left:268px;
    top:342px;
    width:139px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u35 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u36_container {
    position:absolute;
    left:119px;
    top:342px;
    width:139px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../我的任务_files/u13_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:410px;
    width:720px;
    height:270px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:276px;
}

.u39 {
    position:absolute;
    left:2px;
    top:127px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u40_container {
    position:absolute;
    left:566px;
    top:622px;
    width:139px;
    height:50px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../我的任务_files/u17_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:410px;
    width:720px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:382px;
    top:537px;
    width:283px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:561px;
    top:424px;
    width:147px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../我的任务_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:720px;
    height:3px;
}

.u46 {
    position:absolute;
    left:0px;
    top:610px;
    width:720px;
    height:10px;
    
}

.u47_normal {
    background-image: url('../我的任务_files/u22_normal.png');
}

.u47_container {
    position:absolute;
    left:13px;
    top:482px;
    width:120px;
    height:120px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u48 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:10px;
    top:423px;
    width:192px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:151px;
    top:523px;
    width:528px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:151px;
    top:566px;
    width:530px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:248px;
    top:482px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u53_container {
    position:absolute;
    left:417px;
    top:622px;
    width:139px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:148px;
    top:482px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u56_container {
    position:absolute;
    left:268px;
    top:622px;
    width:139px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u57 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../我的任务_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:119px;
    top:622px;
    width:139px;
    height:50px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u59 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../我的任务_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:680px;
    width:720px;
    height:235px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:241px;
}

.u61 {
    position:absolute;
    left:2px;
    top:110px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../我的任务_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:14px;
    top:697px;
    width:215px;
    height:202px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:202px;
}

.u63 {
    position:absolute;
    left:2px;
    top:93px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../我的任务_files/u62_normal.png');
}

.u64_container {
    position:absolute;
    left:251px;
    top:697px;
    width:215px;
    height:202px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:202px;
}

.u65 {
    position:absolute;
    left:2px;
    top:93px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../我的任务_files/u62_normal.png');
}

.u66_container {
    position:absolute;
    left:490px;
    top:697px;
    width:215px;
    height:202px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:202px;
}

.u67 {
    position:absolute;
    left:2px;
    top:93px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../我的任务_files/u13_normal.png');
}

.u68_container {
    position:absolute;
    left:730px;
    top:410px;
    width:720px;
    height:270px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:276px;
}

.u69 {
    position:absolute;
    left:2px;
    top:127px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../我的任务_files/u58_normal.png');
}

.u70_container {
    position:absolute;
    left:1296px;
    top:622px;
    width:139px;
    height:50px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u71 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../我的任务_files/u17_normal.png');
}

.u72_container {
    position:absolute;
    left:730px;
    top:410px;
    width:720px;
    height:60px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u73 {
    position:absolute;
    left:2px;
    top:22px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1112px;
    top:537px;
    width:283px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1291px;
    top:424px;
    width:147px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_line {
    background-image: url('../我的任务_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:0px;
    top:4px;
    width:720px;
    height:3px;
}

.u76 {
    position:absolute;
    left:730px;
    top:610px;
    width:720px;
    height:10px;
    
}

.u77_normal {
    background-image: url('../我的任务_files/u22_normal.png');
}

.u77_container {
    position:absolute;
    left:743px;
    top:482px;
    width:120px;
    height:120px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u78 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:740px;
    top:423px;
    width:192px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:881px;
    top:523px;
    width:528px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:881px;
    top:566px;
    width:530px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:978px;
    top:482px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u83_container {
    position:absolute;
    left:1147px;
    top:622px;
    width:139px;
    height:50px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u84 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:878px;
    top:482px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u86_container {
    position:absolute;
    left:998px;
    top:622px;
    width:139px;
    height:50px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u87 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../我的任务_files/u15_normal.png');
}

.u88_container {
    position:absolute;
    left:849px;
    top:622px;
    width:139px;
    height:50px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:56px;
}

.u89 {
    position:absolute;
    left:2px;
    top:8px;
    width:135px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../我的任务_files/u60_normal.png');
}

.u90_container {
    position:absolute;
    left:730px;
    top:680px;
    width:720px;
    height:235px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:241px;
}

.u91 {
    position:absolute;
    left:2px;
    top:110px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../我的任务_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:730px;
    top:684px;
    width:720px;
    height:57px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:63px;
}

.u93 {
    position:absolute;
    left:2px;
    top:12px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../我的任务_files/u92_normal.png');
}

.u94_container {
    position:absolute;
    left:730px;
    top:741px;
    width:720px;
    height:57px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:63px;
}

.u95 {
    position:absolute;
    left:2px;
    top:12px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../我的任务_files/u92_normal.png');
}

.u96_container {
    position:absolute;
    left:730px;
    top:798px;
    width:720px;
    height:57px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:63px;
}

.u97 {
    position:absolute;
    left:2px;
    top:12px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../我的任务_files/u92_normal.png');
}

.u98_container {
    position:absolute;
    left:730px;
    top:855px;
    width:720px;
    height:57px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:63px;
}

.u99 {
    position:absolute;
    left:2px;
    top:12px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

