body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../概览_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../概览_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../概览_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:80px;
    width:720px;
    height:517px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:517px;
}

.u5 {
    position:absolute;
    left:2px;
    top:250px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:28px;
    top:673px;
    width:96px;
    height:96px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u7 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:28px;
    top:817px;
    width:96px;
    height:96px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u9 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:170px;
    top:817px;
    width:96px;
    height:96px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u11 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:312px;
    top:817px;
    width:96px;
    height:96px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u13 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:454px;
    top:817px;
    width:96px;
    height:96px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u15 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:596px;
    top:817px;
    width:96px;
    height:96px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u17 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:260px;
    top:779px;
    width:201px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:260px;
    top:343px;
    width:201px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:28px;
    top:948px;
    width:96px;
    height:96px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u21 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:170px;
    top:948px;
    width:96px;
    height:96px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u23 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u24_container {
    position:absolute;
    left:312px;
    top:948px;
    width:96px;
    height:96px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u25 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:454px;
    top:948px;
    width:96px;
    height:96px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u27 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u28_container {
    position:absolute;
    left:596px;
    top:948px;
    width:96px;
    height:96px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u29 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../概览_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:597px;
    width:720px;
    height:48px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:54px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:716px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../概览_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:20px;
    width:50px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../概览_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:659px;
    top:24px;
    width:33px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u36_container {
    position:absolute;
    left:172px;
    top:673px;
    width:96px;
    height:96px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u37 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u38_container {
    position:absolute;
    left:312px;
    top:673px;
    width:96px;
    height:96px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u39 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u40_container {
    position:absolute;
    left:454px;
    top:673px;
    width:96px;
    height:96px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u41 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../概览_files/u6_normal.png');
}

.u42_container {
    position:absolute;
    left:596px;
    top:673px;
    width:96px;
    height:96px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u43 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

