.mui-table-view:before{
	height: 0;
}

.mui-segmented-control {
	width: 215px;
	display: inline-block;
	margin-top: 6px;
}

.title {
	text-align: center;
}

.mui-segmented-control .mui-control-item.mui-active {
	background-color: #0487d0 !important;
}

.mui-segmented-control {
	border: 1px solid #0487d0 !important;
}

.mui-content {
	background-color: transparent;
}

.img-title {
	float: left;
	width: 90px;
	height: 58px;
	border-radius: 6px;
}

.detail {
	font-size: 12px;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 18px;
}

.detail-out {
	float: left;
	width: 100%;
}
.detail-out2{
	float: left;
	width: 100%;
	margin-left: 15px;
}

.detail-left {
	float: left;
	width: 90px;
}
.detail-left2{
	float: left;
	width: 90px;
    margin-top: 13px;	
}

.right-left {
	margin-left: 10px;
	width: 65%;
	margin-top: -2px;
}

.mui-navigate-right:after,
.mui-push-right:after {
	top: 15% !important;
}

.mui-navigate-right {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
}

.mui-bar .mui-icon {
	padding-top: 13px;
}

#container {
	width: 100%;
	height: 500px;
}

.circle {
	width: 33px;
}

.nav {
	position: absolute;
	left: 25px;
	overflow: hidden;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid dashed dashed dashed;
}

.nav-border {
	top: -20px;
	border-color: transparent transparent #ccc transparent;
}

.nav-background {
	top: -19px;
	border-color: transparent transparent #ffffff transparent;
}

.info {
	/*margin-top: 50px;*/
	position: relative;
	width: 186px;
	height: 50px;
	line-height: 47px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	color: #333333;
}
.info2{
	/*margin-top: 50px;*/
	position: relative;
	width: 340px;
	min-height: 160px;
	line-height: 47px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333333;
}


.mark-out{
	position: relative;
}
.mark-one{
	position: fixed;
    bottom: 60px;
    left: 20px;    
}

.mark-one2{
	position: fixed;
    bottom: 170px;
    left: 20px;    
}
