body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../场景_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../工具栏_files/u4_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:980px;
    width:720px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u4_container {
    position:absolute;
    left:394px;
    top:991px;
    width:50px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:516px;
    top:991px;
    width:50px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:637px;
    top:991px;
    width:50px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:273px;
    top:991px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:151px;
    top:991px;
    width:50px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:147px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:269px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:390px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:511px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:633px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:991px;
    width:50px;
    height:50px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u20 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:26px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../场景_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:920px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:926px;
}

.u24 {
    position:absolute;
    left:2px;
    top:452px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_container {
    position:absolute;
    left:0px;
    top:134px;
    width:720px;
    height:843px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:843px;
}

.u26 {
    position:absolute;
    left:2px;
    top:414px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:85px;
    top:84px;
    width:50px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:156px;
    top:84px;
    width:50px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u30 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:231px;
    top:84px;
    width:50px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u32 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:302px;
    top:84px;
    width:50px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u35_container {
    position:absolute;
    left:377px;
    top:84px;
    width:50px;
    height:50px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u36 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:161px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:236px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:307px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:382px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:90px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:15px;
    top:18px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:656px;
    top:18px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../场景_files/u27_normal.png');
}

.u44_container {
    position:absolute;
    left:15px;
    top:84px;
    width:50px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:20px;
    top:144px;
    width:49px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

