body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../团队_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../团队_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../团队_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:60px;
    top:60px;
    width:330px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:326px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../团队_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:346px;
    top:82px;
    width:28px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../团队_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:390px;
    top:60px;
    width:330px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:326px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../团队_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:676px;
    top:82px;
    width:28px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../团队_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:60px;
    width:60px;
    height:60px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../团队_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:120px;
    width:720px;
    height:225px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:231px;
}

.u15 {
    position:absolute;
    left:2px;
    top:104px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_container {
    position:absolute;
    left:18px;
    top:135px;
    width:120px;
    height:120px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u17 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:408px;
    top:309px;
    width:290px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:20px;
    top:309px;
    width:324px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:24px;
    top:255px;
    width:128px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../团队_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:682px;
    top:139px;
    width:18px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../团队_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:554px;
    top:139px;
    width:20px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:174px;
    top:183px;
    width:526px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:176px;
    top:944px;
    width:46px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../团队_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:638px;
    top:139px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../团队_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:596px;
    top:139px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../团队_files/u14_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:345px;
    width:720px;
    height:225px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:231px;
}

.u32 {
    position:absolute;
    left:2px;
    top:104px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:18px;
    top:360px;
    width:120px;
    height:120px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u34 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:408px;
    top:534px;
    width:290px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:20px;
    top:534px;
    width:324px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:24px;
    top:480px;
    width:128px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../团队_files/u21_normal.png');
}

.u38_container {
    position:absolute;
    left:682px;
    top:364px;
    width:18px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../团队_files/u23_normal.png');
}

.u40_container {
    position:absolute;
    left:554px;
    top:364px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:174px;
    top:408px;
    width:526px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../团队_files/u27_normal.png');
}

.u43_container {
    position:absolute;
    left:638px;
    top:364px;
    width:20px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../团队_files/u29_normal.png');
}

.u45_container {
    position:absolute;
    left:596px;
    top:364px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../团队_files/u14_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:570px;
    width:720px;
    height:225px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:231px;
}

.u48 {
    position:absolute;
    left:2px;
    top:104px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_container {
    position:absolute;
    left:18px;
    top:585px;
    width:120px;
    height:120px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u50 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:408px;
    top:759px;
    width:290px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:20px;
    top:759px;
    width:324px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:24px;
    top:705px;
    width:128px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../团队_files/u21_normal.png');
}

.u54_container {
    position:absolute;
    left:682px;
    top:589px;
    width:18px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:26px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../团队_files/u23_normal.png');
}

.u56_container {
    position:absolute;
    left:554px;
    top:589px;
    width:20px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:174px;
    top:633px;
    width:526px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../团队_files/u27_normal.png');
}

.u59_container {
    position:absolute;
    left:638px;
    top:589px;
    width:20px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../团队_files/u29_normal.png');
}

.u61_container {
    position:absolute;
    left:596px;
    top:589px;
    width:20px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../团队_files/u14_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:795px;
    width:720px;
    height:225px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:231px;
}

.u64 {
    position:absolute;
    left:2px;
    top:104px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_container {
    position:absolute;
    left:18px;
    top:810px;
    width:120px;
    height:120px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u66 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:408px;
    top:984px;
    width:290px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:20px;
    top:984px;
    width:324px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:24px;
    top:930px;
    width:128px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../团队_files/u21_normal.png');
}

.u70_container {
    position:absolute;
    left:682px;
    top:814px;
    width:18px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../团队_files/u23_normal.png');
}

.u72_container {
    position:absolute;
    left:554px;
    top:814px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:174px;
    top:858px;
    width:526px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../团队_files/u27_normal.png');
}

.u75_container {
    position:absolute;
    left:638px;
    top:814px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../团队_files/u29_normal.png');
}

.u77_container {
    position:absolute;
    left:596px;
    top:814px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:176px;
    top:275px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:176px;
    top:500px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:176px;
    top:725px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:176px;
    top:950px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_line {
    background-image: url('../团队_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u83 {
    position:absolute;
    left:682px;
    top:28px;
    width:228px;
    height:10px;
    
}

.u84 {
    position:absolute;
    left:930px;
    top:16px;
    width:604px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../工具栏_files/u4_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:980px;
    width:720px;
    height:100px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u86 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u87_container {
    position:absolute;
    left:394px;
    top:991px;
    width:50px;
    height:50px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u88 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u89_container {
    position:absolute;
    left:516px;
    top:991px;
    width:50px;
    height:50px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u90 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u91_container {
    position:absolute;
    left:637px;
    top:991px;
    width:50px;
    height:50px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u92 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u93_container {
    position:absolute;
    left:273px;
    top:991px;
    width:50px;
    height:50px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u94 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u95_container {
    position:absolute;
    left:151px;
    top:991px;
    width:50px;
    height:50px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u96 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:147px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:269px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:390px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:511px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:633px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u102_container {
    position:absolute;
    left:30px;
    top:991px;
    width:50px;
    height:50px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u103 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:26px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:930px;
    top:59px;
    width:604px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

