body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../扫一扫_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../扫一扫_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:89px;
    height:3px;
}

.u2 {
    position:absolute;
    left:177px;
    top:312px;
    width:89px;
    height:10px;
    
}

.u3_line {
    background-image: url('../扫一扫_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:89px;
    height:3px;
}

.u3 {
    position:absolute;
    left:408px;
    top:312px;
    width:89px;
    height:10px;
    
}

.u4_line {
    background-image: url('../扫一扫_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:89px;
    height:3px;
}

.u4 {
    position:absolute;
    left:177px;
    top:643px;
    width:89px;
    height:10px;
    
}

.u5_line {
    background-image: url('../扫一扫_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:89px;
    height:3px;
}

.u5 {
    position:absolute;
    left:408px;
    top:643px;
    width:89px;
    height:10px;
    
}

.u6_line {
    background-image: url('../扫一扫_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:68px;
}

.u6 {
    position:absolute;
    left:173px;
    top:316px;
    width:10px;
    height:68px;
    
}

.u7_line {
    background-image: url('../扫一扫_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:68px;
}

.u7 {
    position:absolute;
    left:173px;
    top:578px;
    width:10px;
    height:68px;
    
}

.u8_line {
    background-image: url('../扫一扫_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:68px;
}

.u8 {
    position:absolute;
    left:493px;
    top:579px;
    width:10px;
    height:68px;
    
}

.u9_line {
    background-image: url('../扫一扫_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:68px;
}

.u9 {
    position:absolute;
    left:493px;
    top:316px;
    width:10px;
    height:68px;
    
}

.u10 {
    position:absolute;
    left:192px;
    top:127px;
    width:305px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../扫一扫_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../扫一扫_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:20px;
    top:16px;
    width:17px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

