body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../物料清单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../物料清单_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../物料清单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:16px;
    width:17px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../物料清单_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:2px;
    top:122px;
    width:722px;
    height:525px
}

.u9_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:200px;
    top:0px;
    width:517px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:40px;
    width:200px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:200px;
    top:40px;
    width:517px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:80px;
    width:200px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:200px;
    top:80px;
    width:517px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:120px;
    width:200px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:200px;
    top:120px;
    width:517px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:160px;
    width:200px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u27_container {
    position:absolute;
    left:200px;
    top:160px;
    width:517px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:200px;
    width:200px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u31_container {
    position:absolute;
    left:200px;
    top:200px;
    width:517px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:240px;
    width:200px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u35_container {
    position:absolute;
    left:200px;
    top:240px;
    width:517px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:280px;
    width:200px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u39_container {
    position:absolute;
    left:200px;
    top:280px;
    width:517px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:320px;
    width:200px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u43_container {
    position:absolute;
    left:200px;
    top:320px;
    width:517px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:360px;
    width:200px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:200px;
    top:360px;
    width:517px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:400px;
    width:200px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u51_container {
    position:absolute;
    left:200px;
    top:400px;
    width:517px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:440px;
    width:200px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u55_container {
    position:absolute;
    left:200px;
    top:440px;
    width:517px;
    height:40px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../物料清单_files/u9_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:480px;
    width:200px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../物料清单_files/u11_normal.png');
}

.u59_container {
    position:absolute;
    left:200px;
    top:480px;
    width:517px;
    height:40px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:523px;
    height:46px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../物料清单_files/u6_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:642px;
    width:720px;
    height:60px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../物料清单_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:39px;
    top:731px;
    width:217px;
    height:57px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:63px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../物料清单_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:666px;
    top:12px;
    width:34px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:660px;
    top:88px;
    width:46px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:660px;
    top:711px;
    width:46px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

