body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../菜单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:350px;
    height:1280px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:1286px;
}

.u1 {
    position:absolute;
    left:2px;
    top:632px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:78px;
    top:198px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../菜单_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:15px;
    top:15px;
    width:150px;
    height:150px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:150px;
}

.u4 {
    position:absolute;
    left:2px;
    top:67px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:179px;
    top:93px;
    width:167px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:177px;
    top:141px;
    width:173px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../菜单_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u7 {
    position:absolute;
    left:0px;
    top:175px;
    width:350px;
    height:10px;
    
}

.u8_line {
    background-image: url('../菜单_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u8 {
    position:absolute;
    left:0px;
    top:250px;
    width:350px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:15px;
    top:193px;
    width:50px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u10 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../菜单_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u11 {
    position:absolute;
    left:0px;
    top:325px;
    width:350px;
    height:10px;
    
}

.u12_line {
    background-image: url('../菜单_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u12 {
    position:absolute;
    left:0px;
    top:400px;
    width:350px;
    height:10px;
    
}

.u13_line {
    background-image: url('../菜单_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:475px;
    width:350px;
    height:10px;
    
}

.u14_line {
    background-image: url('../菜单_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u14 {
    position:absolute;
    left:0px;
    top:550px;
    width:350px;
    height:10px;
    
}

.u15_line {
    background-image: url('../菜单_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u15 {
    position:absolute;
    left:0px;
    top:625px;
    width:350px;
    height:10px;
    
}

.u16_line {
    background-image: url('../菜单_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u16 {
    position:absolute;
    left:0px;
    top:700px;
    width:350px;
    height:10px;
    
}

.u17_line {
    background-image: url('../菜单_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u17 {
    position:absolute;
    left:0px;
    top:775px;
    width:350px;
    height:10px;
    
}

.u18_line {
    background-image: url('../菜单_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u18 {
    position:absolute;
    left:0px;
    top:850px;
    width:350px;
    height:10px;
    
}

.u19_line {
    background-image: url('../菜单_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u19 {
    position:absolute;
    left:0px;
    top:925px;
    width:350px;
    height:10px;
    
}

.u20_line {
    background-image: url('../菜单_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u20 {
    position:absolute;
    left:0px;
    top:1000px;
    width:350px;
    height:10px;
    
}

.u21_line {
    background-image: url('../菜单_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u21 {
    position:absolute;
    left:0px;
    top:1075px;
    width:350px;
    height:10px;
    
}

.u22_line {
    background-image: url('../菜单_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u22 {
    position:absolute;
    left:0px;
    top:1150px;
    width:350px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:78px;
    top:274px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u24_container {
    position:absolute;
    left:15px;
    top:269px;
    width:50px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:78px;
    top:349px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u27_container {
    position:absolute;
    left:15px;
    top:344px;
    width:50px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:78px;
    top:424px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u30_container {
    position:absolute;
    left:15px;
    top:419px;
    width:50px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:78px;
    top:498px;
    width:251px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u33_container {
    position:absolute;
    left:15px;
    top:493px;
    width:50px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:78px;
    top:572px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u36_container {
    position:absolute;
    left:15px;
    top:567px;
    width:50px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:78px;
    top:647px;
    width:247px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u39_container {
    position:absolute;
    left:15px;
    top:642px;
    width:50px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u40 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:78px;
    top:722px;
    width:247px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u42_container {
    position:absolute;
    left:15px;
    top:717px;
    width:50px;
    height:50px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u43 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:78px;
    top:797px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u45_container {
    position:absolute;
    left:15px;
    top:792px;
    width:50px;
    height:50px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u46 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:78px;
    top:873px;
    width:239px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u48_container {
    position:absolute;
    left:15px;
    top:868px;
    width:50px;
    height:50px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u49 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:78px;
    top:948px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u51_container {
    position:absolute;
    left:15px;
    top:943px;
    width:50px;
    height:50px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u52 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:78px;
    top:1022px;
    width:245px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u54_container {
    position:absolute;
    left:15px;
    top:1017px;
    width:50px;
    height:50px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u55 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:78px;
    top:1098px;
    width:247px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../菜单_files/u9_normal.png');
}

.u57_container {
    position:absolute;
    left:15px;
    top:1093px;
    width:50px;
    height:50px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u58 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

