body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../事件详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:-45px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../事件详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../事件详情_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:16px;
    width:18px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../事件详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:187px;
    width:720px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../事件详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:100px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u9 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:88px;
    top:105px;
    width:564px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../事件详情_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:80px;
    width:60px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:20px;
    top:211px;
    width:234px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../事件详情_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:578px;
    top:207px;
    width:53px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../事件详情_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:631px;
    top:207px;
    width:53px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../事件详情_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:581px;
    top:209px;
    width:36px;
    height:36px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../事件详情_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:427px;
    width:720px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u21 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:20px;
    top:449px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../事件详情_files/u20_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:267px;
    width:720px;
    height:80px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u24 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:20px;
    top:290px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../事件详情_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:347px;
    width:720px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:20px;
    top:370px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:406px;
    top:295px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:406px;
    top:375px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:644px;
    top:290px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:644px;
    top:370px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../事件详情_files/u20_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:544px;
    width:720px;
    height:80px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u34 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:644px;
    top:449px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:406px;
    top:454px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../事件详情_files/u20_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:624px;
    width:720px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:20px;
    top:568px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:20px;
    top:648px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:644px;
    top:568px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:644px;
    top:647px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

