body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:18px;
    top:83px;
    width:120px;
    height:120px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u5 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:176px;
    top:91px;
    width:526px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:176px;
    top:129px;
    width:526px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:176px;
    top:166px;
    width:526px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../用户详情_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:241px;
    width:720px;
    height:60px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../用户详情_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:546px;
    top:83px;
    width:108px;
    height:115px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:115px;
}

.u12 {
    position:absolute;
    left:2px;
    top:50px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../用户详情_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:20px;
    top:16px;
    width:18px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../用户详情_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:592px;
    width:720px;
    height:60px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

