body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../菜单设置_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../菜单设置_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../菜单设置_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:16px;
    width:18px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:74px;
    width:720px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:20px;
    top:97px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:406px;
    top:102px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:154px;
    width:720px;
    height:80px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u11 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:20px;
    top:177px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:406px;
    top:182px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:234px;
    width:720px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:20px;
    top:257px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:406px;
    top:262px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:314px;
    width:720px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:20px;
    top:337px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:406px;
    top:342px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:394px;
    width:720px;
    height:80px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u23 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:20px;
    top:417px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:406px;
    top:422px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:474px;
    width:720px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:20px;
    top:497px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:406px;
    top:502px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:554px;
    width:720px;
    height:80px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u31 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:20px;
    top:577px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:406px;
    top:582px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:634px;
    width:720px;
    height:80px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u35 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:20px;
    top:657px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:406px;
    top:662px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:714px;
    width:720px;
    height:80px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u39 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:20px;
    top:737px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:406px;
    top:742px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../菜单设置_files/u6_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:794px;
    width:720px;
    height:80px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u43 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:20px;
    top:817px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:406px;
    top:822px;
    width:289px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

