body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../任务详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../任务详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../任务详情_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:16px;
    width:18px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../任务详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:120px;
    width:720px;
    height:150px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:156px;
}

.u7 {
    position:absolute;
    left:2px;
    top:67px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../任务详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:22px;
    top:74px;
    width:128px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:561px;
    top:74px;
    width:147px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../任务详情_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:13px;
    top:136px;
    width:120px;
    height:120px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u13 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:153px;
    top:179px;
    width:363px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:153px;
    top:136px;
    width:213px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:152px;
    top:222px;
    width:200px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:391px;
    top:222px;
    width:200px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../任务详情_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:448px;
    width:720px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:20px;
    top:472px;
    width:234px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../任务详情_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:578px;
    top:468px;
    width:53px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../任务详情_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:631px;
    top:468px;
    width:53px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../任务详情_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:581px;
    top:470px;
    width:36px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:708px;
    width:720px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:548px;
    width:720px;
    height:80px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u30 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:20px;
    top:571px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:628px;
    width:720px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:20px;
    top:651px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:406px;
    top:576px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:406px;
    top:656px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:644px;
    top:571px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:644px;
    top:651px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:575px;
    top:133px;
    width:130px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:288px;
    width:720px;
    height:80px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u41 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:20px;
    top:311px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:406px;
    top:316px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:644px;
    top:311px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:368px;
    width:720px;
    height:80px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u46 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:20px;
    top:390px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:644px;
    top:390px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:406px;
    top:395px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:788px;
    width:720px;
    height:80px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u51 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:20px;
    top:729px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:20px;
    top:809px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:406px;
    top:734px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:406px;
    top:814px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:644px;
    top:729px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:644px;
    top:809px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:868px;
    width:720px;
    height:80px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u59 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:20px;
    top:889px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:406px;
    top:894px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u62_container {
    position:absolute;
    left:757px;
    top:370px;
    width:720px;
    height:80px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u63 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u64_container {
    position:absolute;
    left:757px;
    top:290px;
    width:720px;
    height:80px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u65 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:777px;
    top:313px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1163px;
    top:318px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:1401px;
    top:313px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u69_container {
    position:absolute;
    left:757px;
    top:450px;
    width:720px;
    height:80px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u70 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:777px;
    top:391px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:777px;
    top:471px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1163px;
    top:396px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1163px;
    top:476px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1401px;
    top:391px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:1401px;
    top:471px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u77_container {
    position:absolute;
    left:757px;
    top:530px;
    width:720px;
    height:80px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u78 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:777px;
    top:551px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1163px;
    top:556px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1401px;
    top:551px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u82_container {
    position:absolute;
    left:757px;
    top:650px;
    width:720px;
    height:80px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u83 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u84_container {
    position:absolute;
    left:757px;
    top:730px;
    width:720px;
    height:80px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u85 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:777px;
    top:671px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:777px;
    top:751px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1163px;
    top:676px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1163px;
    top:756px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:1401px;
    top:671px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1401px;
    top:751px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u92_container {
    position:absolute;
    left:757px;
    top:810px;
    width:720px;
    height:80px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u93 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:777px;
    top:831px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:1163px;
    top:836px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:1401px;
    top:831px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../任务详情_files/u27_normal.png');
}

.u97_container {
    position:absolute;
    left:757px;
    top:890px;
    width:720px;
    height:80px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:86px;
}

.u98 {
    position:absolute;
    left:2px;
    top:32px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:777px;
    top:911px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:1163px;
    top:916px;
    width:211px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:1401px;
    top:911px;
    width:40px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

