body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../云盘_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../云盘_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../工具栏_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:980px;
    width:720px;
    height:100px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u5 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:394px;
    top:991px;
    width:50px;
    height:50px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:516px;
    top:991px;
    width:50px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:637px;
    top:991px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:273px;
    top:991px;
    width:50px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:151px;
    top:991px;
    width:50px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:147px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:269px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:390px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:511px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:633px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../工具栏_files/u6_normal.png');
}

.u21_container {
    position:absolute;
    left:30px;
    top:991px;
    width:50px;
    height:50px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u22 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:26px;
    top:1049px;
    width:58px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../云盘_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:60px;
    width:180px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u26 {
    position:absolute;
    left:2px;
    top:9px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../云盘_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:180px;
    top:60px;
    width:180px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u28 {
    position:absolute;
    left:2px;
    top:9px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../云盘_files/u25_normal.png');
}

.u29_container {
    position:absolute;
    left:360px;
    top:60px;
    width:180px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:9px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../云盘_files/u25_normal.png');
}

.u31_container {
    position:absolute;
    left:540px;
    top:60px;
    width:180px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:9px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../云盘_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:210px;
    width:720px;
    height:100px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u34 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../云盘_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:8px;
    top:232px;
    width:80px;
    height:60px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u36 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:112px;
    top:226px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:112px;
    top:273px;
    width:238px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../云盘_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:310px;
    width:720px;
    height:100px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u40 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../云盘_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:10px;
    top:321px;
    width:80px;
    height:80px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u42 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:114px;
    top:325px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:114px;
    top:378px;
    width:332px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:464px;
    top:377px;
    width:242px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:606px;
    top:325px;
    width:104px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../云盘_files/u33_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:110px;
    width:720px;
    height:100px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u48 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../云盘_files/u35_normal.png');
}

.u49_container {
    position:absolute;
    left:8px;
    top:132px;
    width:80px;
    height:60px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u50 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:112px;
    top:126px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:112px;
    top:173px;
    width:238px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../云盘_files/u33_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:410px;
    width:720px;
    height:100px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:106px;
}

.u54 {
    position:absolute;
    left:2px;
    top:42px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../云盘_files/u41_normal.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:421px;
    width:80px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u56 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:114px;
    top:425px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:112px;
    top:478px;
    width:334px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:464px;
    top:477px;
    width:242px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:606px;
    top:425px;
    width:104px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../云盘_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u61 {
    position:absolute;
    left:682px;
    top:28px;
    width:228px;
    height:10px;
    
}

.u62 {
    position:absolute;
    left:930px;
    top:16px;
    width:604px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

