body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../企业导航_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1080px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1086px;
}

.u1 {
    position:absolute;
    left:2px;
    top:532px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../企业导航_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../企业导航_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:60px;
    width:720px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../企业导航_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:240px;
    width:720px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../企业导航_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:540px;
    width:720px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:716px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../企业导航_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:680px;
    top:80px;
    width:28px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../企业导航_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:680px;
    top:260px;
    width:28px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../企业导航_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:680px;
    top:562px;
    width:28px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../企业导航_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:300px;
    width:720px;
    height:120px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:126px;
}

.u17 {
    position:absolute;
    left:2px;
    top:52px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../企业导航_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:11px;
    top:322px;
    width:300px;
    height:75px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:75px;
}

.u19 {
    position:absolute;
    left:2px;
    top:30px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:334px;
    top:370px;
    width:368px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../企业导航_files/u16_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:420px;
    width:720px;
    height:120px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:126px;
}

.u22 {
    position:absolute;
    left:2px;
    top:52px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../企业导航_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:9px;
    top:442px;
    width:300px;
    height:75px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:75px;
}

.u24 {
    position:absolute;
    left:2px;
    top:30px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:342px;
    top:484px;
    width:368px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../企业导航_files/u16_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:120px;
    width:720px;
    height:120px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:126px;
}

.u27 {
    position:absolute;
    left:2px;
    top:52px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../企业导航_files/u23_normal.png');
}

.u28_container {
    position:absolute;
    left:9px;
    top:142px;
    width:300px;
    height:75px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:75px;
}

.u29 {
    position:absolute;
    left:2px;
    top:30px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:309px;
    top:184px;
    width:401px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../企业导航_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u31 {
    position:absolute;
    left:510px;
    top:266px;
    width:350px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:880px;
    top:254px;
    width:500px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../企业导航_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u33 {
    position:absolute;
    left:510px;
    top:568px;
    width:350px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:880px;
    top:556px;
    width:450px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:880px;
    top:640px;
    width:500px;
    height:66px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../企业导航_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:350px;
    height:3px;
}

.u36 {
    position:absolute;
    left:510px;
    top:163px;
    width:350px;
    height:10px;
    
}

.u37 {
    position:absolute;
    left:880px;
    top:151px;
    width:680px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

